# Общие настройки бота
TELEGRAM_TOKEN=                  # Токен Telegram бота от BotFather
RUTRACKER_USERNAME=              # Имя пользователя на RuTracker
RUTRACKER_PASSWORD=              # Пароль от аккаунта RuTracker

# Способ сохранения торрентов: путь к директории или 'qbittorrent'
SAVE=./torrents                  # ./torrents или qbittorrent

# Настройки qBittorrent (используются, если SAVE=qbittorrent)
QBITTORRENT_URL=http://localhost:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=
QBITTORRENT_SAVE_PATH=/downloads
QBITTORRENT_CATEGORY=from_rutbot

JELLYFIN_URL=http://jellyfin_host:8096
JELLYFIN_API_KEY=your_jellyfin_api_key
JELLYFIN_LIBRARY_ID=Фильмы


# Файл со списком разрешенных пользователей
WHITELIST_FILE=whitelist.txt     # Файл со списком ID пользователей, которым разрешен доступ к боту

# Фильтрация результатов поиска 
MAX_RESULTS=5                    # Максимальное количество результатов, отображаемых пользователю
MIN_FILE_SIZE_GB=1.3             # Минимальный размер файла в ГБ, меньшие файлы не будут отображаться
MAX_FILE_SIZE_GB=15              # Максимальный размер файла в ГБ, большие файлы не будут отображаться

# Настройки логирования
# Уровень логирования (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO                   # INFO - штатный режим работы, DEBUG - для отладки
LOG_FILE=bot.log                 # Файл для хранения логов
USE_CONSOLE=true                 # Вывод логов в консоль (true/false)
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s

# Логирование неавторизованных пользователей
UNAUTHORIZED_LOG_FILE=unauthorized_users.log  # Файл для логирования неавторизованных пользователей
ENABLE_UNAUTHORIZED_LOGGING=true              # Включение/выключение логирования неавторизованных

# Настройки прокси (если необходимо)
USE_PROXY=false                  # Использовать прокси (true/false)
HTTP_PROXY=http://123.4.5.6:789  # HTTP прокси сервер
HTTPS_PROXY=http://123.4.5.6:789 # HTTPS прокси сервер

# Фильтрация по ключевым словам
# Слова-исключения для базы фильмов (не будут добавляться в базу)
FORBIDDEN_WORDS=sample,trailer,тизер,трейлер,сэмпл,demo,демо,фрагмент

# База фильмов и пользоваптелей
SQLITE_DB_FILE=db/bot_users.db
